<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form  method="post">
        <input type="text" name="num1">
        <input type="text" name="num2">
        <button type="submit" formaction="/Addition">add</button>
        <button type="submit" formaction="/Subtraction">sub</button>
        <button type="submit" formaction="/Multiplication">mul</button>
        <button type="submit" formaction="/Division">div</button>
    </form>
</body>
</html>